# On ignore tout à la racine
/* 

# On garde les fichiers www et src
!/www/
!/src/

# Enlever les .log et le fichier config
**/config.php
*.log

!/docs/
!Doxyfile
!.gitignore
!README.md
!.htaccess
!tache_cron.php