*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Pour que meme si le contenu est trop court le footer reste en bas de la page*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.cookie-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.cookie-content {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.cookie-buttons {
    margin-top: 20px;
}

.cookie-buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.cookie-buttons button:first-child {
    background-color: #0f172a;
    color: white;
}

.cookie-buttons button:last-child {
    background-color: #ccc;
    color: #333;
}

.btn1 {
    color: #000;
    font-size: 1.1rem;
    font-weight: 600;
    /*border: 0.2px solid ;*/
    border-radius: 12px;
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.2);
    padding: 8px 16px;
    transition: transform 0.2s ease;
}

.btn1:hover {
    transform: scale(1.03);
}

main {
    max-width: 1300px;
    margin: 20px auto;
    padding: 30px;
    background-color: #f8fafc;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    border: 1px solid #e2e8f0;
    flex: 1;
}

.hero {
    position: relative;
    background-image: url('../images/carte-radar.png');
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    color: white;
    overflow: hidden;
}

.hero-content {
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(6px);
    padding: 2rem;
    border-radius: 12px;
    max-width: 500px;
}

.hero-content h2 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

.hero-content a {
    background-color: #fff;
    color: #000;
    border: none;
    text-decoration: none;
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero-content a:hover {
    background-color: #e2e2e2;
}

form {
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    border-bottom: 4px solid #0f172a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    transition: transform 0.3s ease;
    max-width: 1200px;
    width: 100%;
    gap: 10px;
}

.input-icon {
    position: relative;
}

.input-icon i {
    position: absolute;
    top: 25%;
    left: 10px;
}

.input-icon i.fa-lock {
    position: absolute;
    top: 25%;
    left: 10px;
}

.input-icon i#icon-eye {
    position: absolute;
    top: 25%;
    left: auto;
    right: 10px;
}

form:hover {
    transform: scale(1.02);
}

.legend {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

form label {
    display: block;
    font-weight: bold;
    color: #333;
    padding-top: 5px;
    margin: 10px 0;
}

form input,
form select,
form textarea {
    width: 100%;
    padding: 12px 30px 15px 35px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #fff;
    transition: border-color 0.3s, box-shadow 0.3s;
}

form input:focus,
form select:focus,
form textarea:focus {
    border-color: #0f172a;
    box-shadow: 0 0 5px rgba(15, 23, 42, 0.3);
    outline: none;
}

form input[type="submit"], button[type="submit"] {
    background-color: #0f172a;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

form input[type="submit"]:hover, button[type="submit"]:hover {
    background-color: #e4f3ff;
    color: #0f172a;
    transform: scale(1.05);
}

#gototop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #0f172a;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    display: none;
    z-index: 9999;
}

#gototop:hover {
    background-color: #0056b3;
}

footer {
    background: #e4f3ff;
    padding: 30px 0 0;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.1);
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    min-width: 250px;
    margin-bottom: 30px;
    padding: 0 15px;
}

.footer-section h3 {
    font-size: 1.3rem;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 10px;
}

.footer-section a {
    text-decoration: none;
}

.footer-section ul {
    list-style: none;
    display: flex;
    /*flex-direction: column;*/
    gap: 10px;
}

.footer-section > ul {
    display: flex;
    flex-direction: column;
}

.footer-icon img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
    filter: brightness(0.8);
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    transition: all 0.3s ease;
    display: block;
    padding: 5px 0;
    color: #000;
}

.footer-bottom {
    background: #0f172a;
    color: #e4f3ff;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}