Options +FollowSymLinks
RewriteEngine On
RewriteBase /

# Exemple : /about → about.php
RewriteRule ^about$ about.php [L]

# /work → work.php
RewriteRule ^work$ work.php [L]

# /search → search.php
RewriteRule ^search$ search.php [L]

# /inscription → inscription.php
RewriteRule ^inscription$ inscription.php [L]

# /connexion → cnx.php
RewriteRule ^cnx$ cnx.php [L]
RewriteRule ^connexion$ cnx.php [L]

# Page d’accueil
RewriteRule ^$ index.php [L]


ErrorDocument 403 /error.php?code=403
ErrorDocument 404 /error.php?code=404
ErrorDocument 405 /error.php?code=405
ErrorDocument 500 /error.php?code=500

# ---- Si aucune règle ne correspond → 404 ----
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ /error.php?code=404 [L]